/* ================================
   RESET
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #06101d;
    color: #f4f5fa;
    line-height: 1.6;
}


/* ================================
   HEADER
================================ */

.header {
    position: sticky;
    top: 0;
    z-index: 1000;

    height: 105px;

    background: #07111e;
    border-bottom: 2px solid #253448;
}

.nav-container {
    max-width: 1200px;
    height: 100%;

    margin: auto;
    padding: 0 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #64e1b3;
    font-size: 48px;
    font-weight: 800;
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav a {
    color: #f4f5fa;
    text-decoration: none;

    font-size: 20px;
    font-weight: 500;

    transition: 0.3s;
}

.nav a:hover {
    color: #64e1b3;
}


/* ================================
   HERO
================================ */

.hero {
    min-height: 850px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 90px 30px;
}

.hero-card {
    width: 620px;
    min-height: 720px;

    background: #0c1a2b;

    border: 2px solid #293b56;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    padding: 60px 30px;

    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.2);
}

.logo-circle {
    width: 300px;
    height: 300px;

    border: 5px solid #64e1b3;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
}

.logo-circle span {
    color: #64e1b3;

    font-size: 90px;
    font-weight: 800;
}

.hero-card h1 {
    font-size: 42px;
    margin-bottom: 45px;
}

.hero-card p {
    color: #b7c2d4;
    font-size: 28px;
    line-height: 1.8;
}


/* ================================
   INTRO
================================ */

.intro {
    max-width: 1200px;

    margin: 0 auto;
    padding: 80px 50px 120px;
}

.small-title,
.section-label {
    color: #64e1b3;

    font-size: 19px;
    font-weight: 700;

    letter-spacing: 4px;
}

.intro h2 {
    font-size: 80px;
    line-height: 1.1;

    margin-top: 80px;
}

.intro h3 {
    font-size: 48px;
    margin-top: 30px;
}


/* ================================
   GENERAL SECTIONS
================================ */

.section {
    max-width: 1200px;

    margin: 0 auto;

    padding: 120px 50px;
}

.section h2 {
    font-size: 58px;
    line-height: 1.2;

    margin-top: 35px;
    margin-bottom: 35px;
}

.description {
    max-width: 850px;

    color: #b8c4d6;

    font-size: 25px;
    line-height: 1.8;
}


/* ================================
   ABOUT
================================ */

.about {
    padding-top: 100px;
    padding-bottom: 150px;
}


/* ================================
   SERVICES
================================ */

.services {
    max-width: 1300px;
}

.services-container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 35px;

    margin-top: 60px;
}

.service-card {
    min-height: 300px;

    background: #0c1a2b;

    border: 2px solid #293f5e;
    border-radius: 35px;

    padding: 55px;

    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);

    border-color: #64e1b3;
}

.service-title {
    display: flex;
    align-items: flex-start;

    gap: 18px;
}

.service-title span {
    font-size: 35px;
}

.service-title h3 {
    font-size: 30px;
    line-height: 1.3;
}

.service-card p {
    color: #b8c4d6;

    font-size: 22px;
    line-height: 1.8;

    margin-top: 45px;
}


/* ================================
   PORTFOLIO
================================ */

.portfolio {
    padding-top: 160px;
    padding-bottom: 180px;
}


/* ================================
   CONTACT
================================ */

.contact {
    padding-top: 100px;
    padding-bottom: 150px;
}

.contact h2 {
    font-size: 60px;
    margin-top: 40px;
}

.contact .description {
    margin-top: 40px;
}

.contact-button {
    display: inline-block;

    margin-top: 55px;

    padding: 20px 40px;

    background: #64e1b3;
    color: #06101d;

    border-radius: 20px;

    text-decoration: none;

    font-size: 25px;
    font-weight: 800;

    transition: 0.3s;
}

.contact-button:hover {
    transform: translateY(-4px);
}


/* ================================
   FOOTER
================================ */

footer {
    border-top: 2px solid #253448;

    min-height: 220px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    padding: 40px;

    color: #aeb9cb;

    font-size: 22px;
}


/* ================================
   MOBILE
================================ */

@media (max-width: 768px) {

    .header {
        height: 105px;
    }

    .nav-container {
        padding: 0 20px;
    }

    .logo {
        font-size: 48px;
    }

    .nav {
        gap: 15px;
    }

    .nav a {
        font-size: 16px;
    }


    /* Hero */

    .hero {
        min-height: auto;
        padding: 110px 20px 100px;
    }

    .hero-card {
        width: 100%;
        min-height: 730px;

        border-radius: 45px;

        padding: 45px 20px;
    }

    .logo-circle {
        width: 300px;
        height: 300px;

        margin-bottom: 50px;
    }

    .logo-circle span {
        font-size: 85px;
    }

    .hero-card h1 {
        font-size: 39px;
    }

    .hero-card p {
        font-size: 25px;
    }


    /* Intro */

    .intro {
        padding: 70px 50px 100px;
    }

    .small-title,
    .section-label {
        font-size: 17px;
        letter-spacing: 3px;
    }

    .intro h2 {
        font-size: 58px;
        margin-top: 65px;
    }

    .intro h3 {
        font-size: 40px;
    }


    /* Sections */

    .section {
        padding: 100px 50px;
    }

    .section h2 {
        font-size: 48px;
    }

    .description {
        font-size: 22px;
    }


    /* Services */

    .services-container {
        grid-template-columns: 1fr;

        gap: 35px;
    }

    .service-card {
        min-height: 350px;

        padding: 50px;
    }

    .service-title h3 {
        font-size: 29px;
    }

    .service-card p {
        font-size: 21px;
    }


    /* Contact */

    .contact h2 {
        font-size: 50px;
    }


    /* Footer */

    footer {
        min-height: 220px;

        font-size: 20px;

        padding: 40px 60px;
    }
}


/* ================================
   SMALL MOBILE
================================ */

@media (max-width: 500px) {

    .nav-container {
        padding: 0 12px;
    }

    .logo {
        font-size: 40px;
    }

    .nav {
        gap: 10px;
    }

    .nav a {
        font-size: 13px;
    }

    .hero {
        padding-left: 12px;
        padding-right: 12px;
    }

    .hero-card {
        min-height: 650px;
    }

    .logo-circle {
        width: 250px;
        height: 250px;
    }

    .logo-circle span {
        font-size: 75px;
    }

    .hero-card h1 {
        font-size: 32px;
    }

    .hero-card p {
        font-size: 21px;
    }

    .intro,
    .section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .intro h2 {
        font-size: 48px;
    }

    .intro h3 {
        font-size: 34px;
    }

    .section h2,
    .contact h2 {
        font-size: 42px;
    }

    .service-card {
        padding: 35px;
    }

    .service-title h3 {
        font-size: 25px;
    }

    .service-card p {
        font-size: 19px;
    }
  }
